<!DOCTYPE html>
<html>
  <head>
    <title>TodoListRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to 'Todo_Rails', root_path, class: 'navbar-brand' %>

    <div class="signed">
      <% if signed_in? %>
        Signed in as: <%= current_user.email %>
        <%= button_to 'Sign out', sign_out_path, method: :delete %>
      <% else %>
        <%= button_to 'Sign in', sign_in_path %>
      <% end %>
    </div>
  </nav>

  <div class="container">

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </div>
  </body>
</html>
